  .page-wrap {
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
    /*flex-grow: 1;*/
    background: #F8FAFB;
    /*overflow-y: auto;*/
  }
  .return-btn {
    position: absolute;
    top: 57px;
    left: 15px;
    color: #fff;
    font-size: 18px;
    z-index: 10;
  }
  .player {
    display: block;
    width: 100%;
    height: auto;
    background-color: #000;
    background-repeat: no-repeat;
  }
  .operation-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px 18px;
    border: 1px solid #38B1EB;
    border-radius: 3px;
    font-size: 14px;
    color: #38B1EB;
    z-index: 10;
  }
  .media-center-file-item {
    position: relative;
    padding: 15px;
    background: #fff;
    font-size: 14px;
  }
  .media-center-file-item.first-child {
    margin-top: -15px;
  }
  .media-center-table {
    width: 100%;
  }
  .media-center-table td{
    padding: 2px 4px;
  }
  .item-info-key {
    text-align: right;
    line-height: 150%;
    color: #767676;
    vertical-align: top;
    width: 80px;
  }
  .item-info-value {
    line-height: 150%;
    color: #333333;
    /*width: 303px;*/
    display: block;
  }
  .media-center-file-item-bottom-line {
    background-image: linear-gradient(0deg,#E2E2E2,#E2E2E2 50%,transparent 0);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .media-center-file-name {
    font-weight: bold;
    margin-right: 70px;
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
  }
  .media-center-file-type {
    display: inline-block;
    margin: 6px 0;
    height: 22px;
    line-height: 22px;
    text-align: center;
    /*position: absolute;*/
    /*right: 0px;*/
    /*top: 0;*/
    padding: 0 6px;
    font-size: 12px;
    font-weight: normal;
    background: #EBF3FB;
    border-radius: 3px;
  }
  .category-header {
    position: relative;
    display: flex;
    height: 49px;
    line-height: 49px;
    padding: 0 15px;
    background: #fff;
  }
  .watch-title {
    flex: 1;
    padding-left: 25px;
    font-size: 17px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .category-title {
    flex: 1;
    font-size: 17px;
    color: #333333;
  }
  .video-list {
    margin-top: 15px;
  }
  .return-bar {
    display: flex;
    position: relative;
    height: 49px;
    line-height: 49px;
    padding: 0 15px;
    background-color: #fff;
    background-image: linear-gradient(0deg,#E2E2E2,#E2E2E2 50%,transparent 0);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .return-bar .icon-return {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 0 5px;
    font-size: 18px;
    color: #767676;
  }
  .watch-return-bar .icon-return {
    left: 10px;
  }
