.ui-department-browser-content{
  position: relative;
  height: 400px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #CED9E5;
  border-radius: 4px;
}
.ui-department-browser-content-fix-scroll{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.ui-department-browser-content-user-bar{
  padding: 6px 4px 16px;
  overflow: auto;
}

.ui-department-browser-content-user-bar .title{
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 0 10px;
  color: #2A3E52;
}

.ui-department-browser-search-item {
  float: right;
  margin-left: 10px;
  line-height: 100%;
}

.ui-department-browser-content-user-list{
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-department-browser-content .layout-panel-slide-vertical-bar {
  border-color: #CED9E5;
}

.status-danger,
.status-success {
  text-align: center;
  display: inline-block;
  width: 48px;
  line-height: 20px;
  border-radius: 2px;
  color: #fff;
}
.status-danger {
  background-color: #FF3366;
}
.status-success {
  background-color: #2EC4B6;
}
