.permission-search-item{
  float: left;
  margin-left: 10px;
  line-height: 100%;
}

.permission-table-pagination {
  margin-top: 30px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  color: #4C637B;
}

.permission-status-span {
  font-size: 12px;
  color: #FFFFFF;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  text-align:center;
  display: block;
}

.process-status-span {
  font-size: 12px;
  color: #FFFFFF;
  width: 48px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  text-align:center;
  display: block;
}

.deleted {
  background: #FF3366;
}

.prepare {
  background: #38B1EB;
}

.doing {
  background: #C0C003;
}

.submitted {
  background: #2EC4B6;
}

.stopped {
  background: #AAAAAA;
}

.permission-enable {
  background: #2EC4B6;
}

.permission-disable {
  background: #FF3366;
}

.operation-btn-group {
  display: inline-block;
  margin-right: 18px;
}
.operation-btn-group button {
  margin-right: 6px;
}