extends ../base/layout.pug

block style
  link(href='/login/login.css', rel='stylesheet')
block content
  div(class='login-form')
    div(class='login-form-item')
      label 用户名
      input(class='login-form-input' id='username' name='username' placeholder='请输入用户名')
    div(class='login-form-item')
      label 密码
      input(class='login-form-input' type='password' id='password' name='password' placeholder='请输入密码')
    div(class='login-form-button')
      button(class='ui-button' id='login-btn') 登录
  script.
    $(function(){
      const loginBtnJQ = $("#login-btn");
      const usernameJQ = $("#username");
      const passwordJQ = $("#password");


     loginBtnJQ.click(function(e){
        e.preventDefault();
        $.post('http://localhost:8080/user/login', { username: usernameJQ.val(), password:passwordJQ.val()}, function(rs) {
            if (rs.status === '0') {
                window.location.href = '/';
            } else {
                alert(rs.statusInfo.message);
            }
        });
     })
    })

