.layout-four-row-search-item{
  float: left;
  margin-left: 10px;
}

.layout-btn-mini-margin {
  margin-left: 6px;
  font-size: 12px;
}

.layout-btn-margin {
  margin-left: 18px;
  font-size: 12px;
}

.audit-download-search-item{
  float: left;
  margin-left: 10px;
  line-height: 100%;
}

.audit-download-table-pagination {
  margin-top: 30px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  color: #4C637B;
}

.audit-download-status-span {
  font-size: 12px;
  color: #FFFFFF;
  width: 48px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  text-align:center;
  display: block;
}
.deleted {
  background: #FF3366;
}

.prepare {
  background: #38B1EB;
}

.doing {
  background: #C0C003;
}

.submitted {
  background: #2EC4B6;
}
