html
  head
    title #{title}
    block style
    block script
    script(src="/base/jquery-3.2.1.min.js")
    script.
      $(function(){
        $.ajaxSetup({
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            }
        });
      })
  body
    block header
    div(class="content")
      block content
    block foot
      #footer