html
  head
    title #{title}
    block style
    block script
    script(src="/base/jquery-1.12.4.min.js")
  body
    block header
    div(class="content")
      block content
    block foot
      #footer