.media-browser-header {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 20px;
  height: 24px;
}
.media-browser-wrap .dialog-content {
  font-size: 14px;
}
.media-browser-content {
  position: absolute;
  top: 34px;
  right: 10px;
  left: 20px;
  bottom: 0;
  overflow: auto;
}
.media-browser-title {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #2A3E52;
  line-height: 24px;
}
.media-browser-controller-wrap {
  float: right;
}
.video-source-wrap,
.media-browser-wrap,
.workspace-panel-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  z-index: 100;
}
.video-source-wrap.active-panel,
.media-browser-wrap.active-panel,
.workspace-panel-wrap.active-panel {
  border: 1px solid #38B1EB;
}
.active-panel {
  z-index: 200;
}
.video-source-title {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
  height: 37px;
  line-height: 37px;
  font-size: 12px;
}
.video-source-box {
  position: absolute;
  top: 37px;
  right: 20px;
  left: 20px;
  bottom: 98px;
}
.video-source-bottom {
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
  height: 98px;
  user-select: none;
}
.player-time-box {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #4C637B;
}
.player-progress-bar-box {
  position: relative;
  width: 100%;
  height: 14px;
}
.player-progress-bar {
  width: 100%;
  height: 14px;
  background: #E3EAF3;
}
.player-controls {
  position: relative;
  margin-top: 12px;
  text-align: center;
}
.player-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  z-index: 1;
}
.player-control-item-wrap {
  position: relative;
  display: inline-block;
}
.player-control-item {
  display: inline-block;
  width: 44px;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  font-size: 14px;
  color: #4C637B;
  text-align: center;
}
.player-control-item:hover {
  background: #E3EAF3;
}
.player-control-item:active {
  color: #38B1EB;
}
.disabled-control-item {
  color: #CED9E5;
}
.player-control-item i {
  font-size: 14px;
}
.player-control-tooltip {
  display: none;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #EBF3FB;
  border-radius: 2px;
  font-size: 12px;
  color: #4C637B;
  padding: 0 6px;
  line-height: 22px;
  white-space: nowrap;
  z-index: 11;
}
.player-control-item:hover+.player-control-tooltip {
  display: block;
}
.player-pull-indicator {
  position: absolute;
  top: 0;
  left: -6px;
  font-size: 12px;
  color: #38B1EB;
  z-index: 10;
  cursor: pointer;
}
.player-in-point,
.player-out-point {
  position: absolute;
  top: -3px;
  font-size: 14px;
  color: #38B1EB;
}
.clip-range {
  position: absolute;
  top: 0px;
  height: 14px;
  background: #CED9E5;
}
.player-tooltip {
  position: absolute;
  top: -28px;
  z-index: 10;
}
.player-tooltip-text {
  background: #EBF3FB;
  border-radius: 2px;
  font-size: 12px;
  color: #4C637B;
  padding: 0 6px;
  line-height: 22px;
  white-space: nowrap;
}
.screenshot-wrap:hover .screenshot-download-icon {
  display: block;
}
.screenshot-download-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #fff;
  display: none;
}

.video-srt {
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}
.video-srt-text {
  background: rgba(0, 0, 0, .5);
  padding: 3px;
}
