.im-main {
  width: 44px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: #4C637B;
  color: #ccc;
  border-radius: 4px 4px 0 0;
}

.im-main:hover{
  color: #fff;
}

.im-dialog {
  width: 740px;
  height: 460px;
  position: absolute;
  bottom: 0;
  right: 20px;
  background: #fff;
  border-radius: 4px 4px 0 0;
}

.im-dialog-wrap{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.im-dialog-bar{
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
  background-color: #4C637B;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  border-radius: 4px 4px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.im-dialog-bar-action{
  height: 100%;
  width: 100px;
  float: right;
  overflow: hidden;
}

.im-dialog-bar-action li{
  width: 24px;
  height: 24px;
  float: right;
  text-align: center;
}

.im-dialog-bar-action li:hover{
  background-color: #4b6a7b;
}

.im-dialog-main{
  padding-top: 24px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.im-dialog-main-left{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2e3641;
}

.im-dialog-main-right{
  padding-left: 161px;
}
