.im-main{
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  color: #9FB3CA;
}

.im-main-trigger {
  width: 44px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  right: 20px;
  background-color: #4C637B;
  color: #ccc;
  border-radius: 4px 4px 0 0;
}

.im-main-trigger:hover{
  color: #fff;
}

.im-main-trigger .user-avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px auto;
}

.im-main-trigger-red-point {
  height: 6px;
  width: 6px;
  background: #3ab0eb;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
}

.im-dialog {
  width: 586px;
  height: 428px;
  position: absolute;
  bottom: 0;
  right: 20px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 5px 27px rgba(0,0,0,.2);
}

.im-dialog-wrap{
  position: relative;
  height: 100%;
  width: 100%;
}

.im-dialog-main{
  padding-left: 174px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.im-dialog-main-left{
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  padding-top: 72px;
  box-sizing: border-box;
  width: 174px;
  overflow: hidden;
  background-color: #292929;
  border-radius: 4px 0 0;
}

.im-main-left-header{
  padding: 8px 8px 0;
  height: 72px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  cursor: default;
  border-radius: 4px 0 0 0;
}

.im-main-left-header-top{
  position: relative;
  padding-left: 32px;
  padding-right: 36px;
  height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.im-main-left-header-top-avatar{
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.im-icon-menu{
  height: 24px;
  line-height: 24px;
  width: 44px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  right: 0;
  top: 8px;
  color: #999;
  background-color: #353535;
}

.im-main-left-header-top-name{
  height: 24px;
  line-height: 24px;
  color: #eee;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  font-size: 14px;
}

.im-dialog-main-left-search{
  margin-top: 8px;
}

.im-dialog-main-left-search .fj-input-icon{
  color: #999;
}

.im-dialog-main-left-search .fj-input-icon:hover{
  background-color: #454545;
}

.im-dialog-main-left-search .fj-input-inner-fill{
  background-color: #151515;
  color: #fff;
  font-size: 12px;
  border: none;
}

.im-main-left-dialog-list{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.im-main-left-dialog-list-item{
  padding: 8px 12px 8px 40px;
  position: relative;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}

.im-main-left-dialog-list-item:hover{
  background-color: #353535;
}

.im-main-left-dialog-list .active{
  background: #3a3f45;
}

.im-main-left-dialog-list-item .content {
  height: 22px;
  position: relative;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.im-main-left-dialog-list-item .avatar{
  height: 24px;
  width: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  background: #2e3238;
  border-radius: 50%;
}

.im-main-left-dialog-list .active .time{
  background: #3a3f45;
  color: #eee;
}

.im-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
}

.im-img-style {
  background: url(/static/img/avatar.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.im-dialog-main-right{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 40px 0 84px;
  box-sizing: border-box;
  background-color: #F3F5F6;
}

.im-dialog-main-right-bar{
  height: 38px;
  padding: 0 10px;
  line-height: 38px;
  font-size: 14px;
  color: #333;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.im-dialog-main-right-bar-wrap{
  padding: 0 8px;
  border-bottom: 1px solid #E3EAF3;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #2A3E52;
  font-size: 12px;
}

.im-dialog-main-right-bar-wrap .iconfont{
  font-size: 12px;
  padding-left: 4px;
  color: #9FB3CA;
}

.im-dialog-main-right-bar-wrap-tip {
  color: #9FB3CA;
}

.im-dialog-main-right-content{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.im-dialog-main-right-content-item{
  padding: 8px;
  position: relative;
  color: #2A3E52;
  overflow: auto;
}

.im-dialog-main-right-content-item .time{
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #9FB3CA;
}

.im-dialog-main-right-content-item .body{
  max-width: 80%;
  position: relative;
}

.im-dialog-main-right-content-item .body .avatar{
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
}

.im-dialog-main-right-content-item .body .message .name{
  color: #4f4f4f;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.im-dialog-main-right-content-item .body .message .detail{
  word-wrap: break-word;
  word-break: break-all;
  padding: 4px 13px;
  background-color: #fff;
  font-size: 12px;
  display: inline-block;
  border-radius: 4px;
}

.im-dialog-main-right-content-item .body .message .resend{
  padding: 4px 13px;
  font-size: 12px;
  border-radius: 4px;
  color: #FF3366;
  cursor: pointer;
}

.im-dialog-main-right-content-item .body .message .resend .iconfont {
  font-size: 12px;
}

.im-dialog-main-right-content-item .body .message .resend:hover{
  color: #ff3f4e;
}

.im-dialog-main-right-content .left .body{
  padding-left: 36px;
  float: left;
}

.im-dialog-main-right-content .left .body .avatar{
  left: 0;
}

.im-dialog-main-right-content .left .body .message .name{
  text-align: left;
  color: #4C637B;
}

.im-dialog-main-right-content .right .body{
  padding-right: 36px;
  float: right;
}

.im-dialog-main-right-content .right .body .message .detail {
  background-color: #38B1EB;
  color: #fff;
}

.im-dialog-main-right-content .right .body .avatar{
  right: 0;
}

.im-dialog-main-right-content .right .body .message .name{
  text-align: right;
}

.im-dialog-main-right-chat{
  height: 86px;
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  border-top: 1px solid #E3EAF3;
}

.im-dialog-main-right-chat-wrap{
  height: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.im-dialog-main-right-chat-wrap textarea{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: #F3F5F6;
  color: #2A3E52;
  line-height: 150%;
}

.im-icon-small-close {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 20px;
  color: #999;
}

.im-icon-small-close:hover{
  background: #ddd;
}

.im-dialog-main-right-chat-bar {
  height: 26px;
  position: relative;
  text-align: right;
  line-height: 26px;
  padding: 0 10px;
}

.im-dialog-main-right-chat-bar .fj-button-small {
  background: #eee;
  border: 1px solid #CDD9E5;
  padding: 6px 14px;
}
