@import "../../../variables.css";

.fj-tag {
  display: inline-block;

  height: 26px;
  line-height: 24px;
  padding: 0 8px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--tag-default-border-color);
  border-radius: 15px;

  font-size: 12px;
  white-space: nowrap;
  color: var(--tag-color);
  background-color: var(--tag-default-bg-color);
}
.fj-tag + .fj-tag {
  margin-left: 10px;
}

.fj-tag-primary {
  border-color: var(--tag-primary-border-color);
  background-color: var(--tag-primary-bg-color);
}
.fj-tag-success {
  border-color: var(--tag-success-border-color);
  background-color: var(--tag-success-bg-color);
}
.fj-tag-warning {
  border-color: var(--tag-warning-border-color);
  background-color: var(--tag-warning-bg-color);
}
.fj-tag-danger {
  border-color: var(--tag-danger-border-color);
  background-color: var(--tag-danger-bg-color);
}
.fj-closable-tag-primary:hover {
  color: var(--tag-primary-hover-color);
}

.fj-tag-close {
  font-size: 12px;
  cursor: pointer;
}
.fj-tag-close:before { content: "\e677"; color: #9FB3CA; }
.fj-tag:hover .fj-tag-close:before { content: "\e668"; color: inherit; }

.fj-clickable-tag {
  cursor: pointer;
}
.fj-clickable-tag:hover {
  color: var(--tag-primary-hover-color);
}
