@import "../../../variables.css";

.fj-select {
  position: relative;
}

.fj-select .fj-input-inner {
  cursor: pointer;
}

.fj-select-dropdown {
  position: absolute;
  max-height: var(--select-dropdown-max-height);
  overflow: auto;
  margin: 4px 0;
  padding: 8px 0;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: #fff;
  box-shadow: var(--select-dropdown-box-shadow);
  z-index: var(--z-index-select-dropdown);
}
.fj-select-dark .fj-select-dropdown {
  background-color: #353535;
  border: 1px solid #555555;
}

.fj-select-small .fj-select-dropdown {
  padding: 4px 0;
}
.fj-select-dropdown-title {
  display: inline-block;
  font-size: 12px;
  color: #4C637B;
}
.fj-select-dropdown-title-wrap {
  padding: 6px 9px;
  height: var(--select-option-height);
  line-height: var(--select-option-line-height);
}
.fj-select-dropdown-clear-btn {
  float: right;
  font-size: 12px;
  color: #4C637B;
  cursor: pointer;
}
.fj-select-dropdown-clear-btn i {
  font-size: 12px;
}
.fj-select-dropdown-empty {
  padding: 6px 9px;
  height: var(--select-option-height);
  line-height: var(--select-option-line-height);
  text-align: center;
}
.fj-select-dropdown-item {
  padding: 6px 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: var(--select-option-height);
  line-height: var(--select-option-line-height);
  cursor: pointer;
}
.fj-select-small .fj-select-dropdown-item {
  padding: 5px 9px;
  height: 24px;
  line-height: 14px;
}
.fj-select-dropdown-item.hover {
  background-color: var(--select-option-hover-background-color);
}
.fj-select-dropdown-item.selected {
  color: #fff;
  background-color: var(--select-option-selected-background-color);
}
.fj-select-dark .fj-select-dropdown-item.hover {
  background-color: #555;
}
.fj-select-dark .fj-select-dropdown-item.selected {
  color: #fff;
  background: #38B1EB;
}
.fj-select-dropdown.multiple .fj-select-dropdown-item.selected {
  color: #38B1EB;
  background: #fff;
}
.fj-select-dropdown.multiple .fj-select-dropdown-item.selected:after {
  content: "\e6a0";
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}
.fj-select-dropdown.multiple .fj-select-dropdown-item.hover {
  background-color: var(--select-option-hover-background-color);
}
.select-delete-icon {
  color: #CED9E5;
}
.select-delete-icon:hover {
  color: #4C637B;
}
.fill-icon-btn {
  color: #fff;
  background: #38B1EB;
}
.fill-icon-btn:hover {
  background: #67CBFB;
}
.fill-icon-btn:active {
  background: #1497D6;
}
.fj-select .fj-input-icon {
  transition: transform .3s;
}
.fj-select .fj-input-icon.is-reverse {
  transform: rotate(180deg);
}
.fj-select-placeholder {
  color: var(--input-placeholder-color);
}

.fj-select-inner-stroke {
  width: 100%;
  min-height: var(--input-height);
  line-height: 28px;
  padding: 3px 10px;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  outline: none;
  font-size: 12px;
  color: var(--base-color);
}

.fj-select-inner-stroke:hover {
  border-color: var(--input-hover-border-color);
}
.fj-select-inner-stroke:focus,
.fj-select-inner-stroke:active,
.fj-select-inner-stroke.active {
  border-color: var(--input-focus-border-color);
}

.fj-select-inner-dark {
  width: 100%;
  min-height: var(--input-height);
  line-height: 28px;
  padding: 3px 10px;
  border: 1px solid #E3EAF3;
  border-radius: var(--input-border-radius);
  outline: none;
  font-size: 12px;
  color: #E3EAF3;
  background-color: #E3EAF3;
}

.fj-select-inner-dark:hover {
  border-color: #E3EAF3;
}
.fj-select-inner-dark:focus,
.fj-select-inner-dark:active,
.fj-select-inner-dark.active {
  border-color: #E3EAF3;
}
