.fj-tree-item-expandable {
  color: #2A3E52;
}
.fj-tree-item {
  color: #4C637B;
}

.fj-tree-item,
.fj-tree-item-expandable {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.fj-tree-current-item {
  background-color: #9FB3CA;
  color: #fff;
}

.tri-bottom,
.tri-right {
  position: absolute;
  border: 5px solid #4C637B;
}
.tri-bottom {
  top: 8px;
  border-color: #4C637B transparent transparent transparent;
}
.tri-right {
  top: 5px;
  border-color: transparent transparent transparent #4C637B;
}
