.fj-tree-item-expandable {
  color: #2A3E52;
}
.fj-tree-item {
  color: #4C637B;
}

.fj-tree-item,
.fj-tree-item-expandable {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: default;
}

.fj-tree-current-item {
  background-color: #9FB3CA;
  color: #fff;
}

.tri-bottom,
.tri-right {
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  border: 5px solid #4C637B;
}
.tri-bottom {
  margin-top: 8px;
  border-color: #4C637B transparent transparent transparent;
}
.tri-right {
  margin-top: 5px;
  border-color: transparent transparent transparent #4C637B;
}
.theme-dark .tri-bottom,
.theme-dark .tri-right {
  position: absolute;
  border: 5px solid #9FB3CA;
}
.theme-dark .tri-bottom {
  margin-top: 8px;
  border-color: #9FB3CA transparent transparent transparent;
}
.theme-dark .tri-right {
  margin-top: 5px;
  border-color: transparent transparent transparent #9FB3CA;
}

.theme-dark .fj-tree-item,
.theme-dark .fj-tree-item-expandable {
  color: #9FB3CA;
}
.theme-dark .fj-tree-current-item {
  background-color: transparent;
  color: #CED9E5;
}
