.fj-tree-small {

}

.fj-tree-item-expandable {
  color: #2A3E52;
}
.fj-tree-item {
  color: #4C637B;
}

.fj-tree-item,
.fj-tree-item-expandable {
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: default;
}

.fj-tree-current-item {
  background-color: #9FB3CA;
  color: #fff;
}

.expand-wrap {
  position: absolute;
  width: 12px;
  height: 18px;
  padding-left: 2px;
  padding-right: 2px;
}
.tri-bottom,
.tri-right {
  /*margin-left: 2px;
  margin-right: 2px;
  position: absolute;*/
  display: inline-block;
  border: 4px solid #4C637B;
}
.tri-bottom {
  margin-top: 8px;
  border-color: #4C637B transparent transparent transparent;
}
.tri-right {
  margin-top: 6px;
  border-color: transparent transparent transparent #4C637B;
}

.fj-tree-current-item .tri-bottom,
.fj-tree-current-item .tri-right {
  border: 4px solid #fff;
}
.fj-tree-current-item .tri-bottom {
  border-color: #fff transparent transparent transparent;
}
.fj-tree-current-item .tri-right {
  border-color: transparent transparent transparent #fff;
}

.theme-dark .tri-bottom,
.theme-dark .tri-right {
  /*position: absolute;*/
  display: inline-block;
  border: 4px solid #9FB3CA;
}
.theme-dark .tri-bottom {
  margin-top: 8px;
  border-color: #9FB3CA transparent transparent transparent;
}
.theme-dark .tri-right {
  margin-top: 6px;
  border-color: transparent transparent transparent #9FB3CA;
}

.theme-dark .fj-tree-item,
.theme-dark .fj-tree-item-expandable {
  color: #9FB3CA;
}

.theme-dark .fj-tree-item:hover,
.theme-dark .fj-tree-item-expandable:hover {
  background: #353535;
}
.theme-dark .fj-tree-current-item {
  background: #2A3E52 !important;
  /*background-color: transparent;*/
  color: #CED9E5;
}
