@import "../../../variables.css";
.fj-tabs-header {
  margin-bottom: 15px;
  border-bottom: var(--tabs-header-border);
}
.fj-tabs-item {
  padding: 0 15px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  font-size: 14px;
  color: #666666;
  cursor: pointer;
}
.fj-tabs-item.active,
.fj-tabs-item:hover {
  color: var(--tabs-item-active-color);
}
.fj-tabs-item.active {
  border-bottom: 2px solid var(--tabs-item-active-color);
}

.theme-dark .fj-tabs-header {
  margin-bottom: 10px;
  border-bottom: 0;
}
.theme-dark .fj-tabs-item {
  padding: 0;
  margin-right: 20px;
  height: 27px;
  line-height: 25px;
  display: inline-block;
  font-size: 12px;
  color: #9FB3CA;
  cursor: pointer;
}
.theme-dark .fj-tabs-item.active,
.theme-dark .fj-tabs-item:hover {
  color: #CED9E5;
}
.theme-dark .fj-tabs-item.active {
  font-weight: bold;
  border-bottom: 2px solid #CED9E5;
}
