@import "../../../variables.css";

.fj-table {
  width: 100%;
}

.fj-table th {
  padding: 3px 10px;
  border-bottom: var(--table-th-border);
  color: var(--table-th-color);
  border-right: var(--table-th-border);
}
.fj-table th:last-child {
  border-right: 0;
}
.fj-table th:first-child,
.fj-table td:first-child {
  padding-left: 20px;
}
.fj-table td {
  padding: 11px 10px;
  color: var(--table-td-color);
}
.fj-table tbody tr:hover{
  background-color: var(--table-tr-hover-bg-color);
}
.fj-table-striped {
  background-color: var(--table-tr-striped-bg-color);
}
.fj-table tbody tr.fj-current-row {
  background-color: var(--table-current-row-bg-color);
}

.hidden-column {
  display: none;
}

.fj-table-empty-block {
  border: var(--table-border);
  border-top: 0;
  text-align: center;
  height: 88px;
}
