html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu,select{margin:0;padding:0;outline: none;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; font-size: 12px; color: #2A3E52; line-height: 1.5; }

.clearfix:before, .clearfix:after{ overflow: hidden; visibility: hidden; content: " "; display: table; clear: both; }

/*a,a:visited{color: #bfcbd9;}*/

i{ font-style: normal; }

html,body,#app {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#app-loading-bar-mask {
  width: 100%;
  height: 100%;
  background: #fff;
}
.app-loading-bar-wrap,
.app-refresh-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 336px;
  /*height: 20px;*/
  overflow: hidden;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #9FB3CA;
}
.app-refresh-wrap .iconfont {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 16px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 4px;
}
.app-refresh-wrap .iconfont:hover {
  color: #4C637B;
  background: #EBF3FB;
}
.app-loading-text {
  margin-top: 16px;
  font-size: 12px;
  color: #9FB3CA;
}
.app-loading-bar {
  animation: move_to_left 4s linear 0s infinite;
}

@keyframes move_to_left {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
  }
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 84px;
  overflow: auto;
}
.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84px;
  overflow-y: auto;
}
.main-content {
  width: 100%;
  height: 100%;
}
.main .left-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}
.main .right-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 122px;
  bottom: 0;
  overflow: auto;
}

.dialog-footer button {
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(195, 195, 195, 0.5);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
