@import "../../../variables.css";

.fj-checkbox-wrap {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}
.fj-checkbox-wrap.small {
  font-size: 12px;
}
.fj-checkbox-wrap.fj-checkbox-disabled {
  cursor: not-allowed;
  color: var(--disabled-color);
}
.fj-checkbox {
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.fj-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  outline: none;
}
.fj-checkbox-inner {
  position: relative;
  display: inline-block;
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: var(--checkbox-border-radius);
  border: var(--radio-border);
  background: #fff;
  vertical-align: middle;
}
.fj-checkbox-inner.small {
  width: var(--radio-small-size);
  height: var(--radio-small-size);
  border-radius: var(--checkbox-border-radius-small);
}
.fj-checkbox-inner:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  transition: all .15s cubic-bezier(.78,.14,.15,.86);
}
.fj-checkbox-inner.small:after {
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
}
.fj-checkbox-inner:hover {
  border: var(--radio-hover-border);
}

.fj-checkbox-checked .fj-checkbox-inner {
  border: var(--radio-checked-border);
  background: var(--radio-checked-color);
}
.fj-checkbox-checked .fj-checkbox-inner:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
  transition: all .15s cubic-bezier(.78,.14,.15,.86);
}

.fj-checkbox-disabled .fj-checkbox-inner {
  border-color: var(--disabled-border-color);
  background: var(--radio-disabled-checked-color);
}
.fj-checkbox-disabled.fj-checkbox-checked .fj-checkbox-inner:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
  transition: all .15s cubic-bezier(.78,.14,.15,.86);
}
