.layout-four-row-search-item{
  float: left;
  margin-left: 10px;
  line-height: 1;
}

.task-status-base {
  font-size: 12px;
  color: #fff;
  width: 48px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  text-align: center;
  display: block;
}
.task-status-created {
  background: #38B1EB;
}
.task-status-dealing {
  background: #C0C003;
}
.task-status-error {
  background: #FF3366;
}
.task-status-complete {
  background: #2EC4B6;
}

.task-slide-dialog-item{
  padding-bottom: 30px;
}

.task-slide-dialog-item-title{
  height: 30px;
  line-height: 20px;
  position: relative;
}

.task-slide-dialog-item-bar {
  float: right;
}
.template-dialog-section-item {
  position: relative;
  padding-right: 36px;
}
.template-dialog-unit {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  padding-left: 5px;
  line-height: 36px;
}
.template-dialog-select-wrap {
  padding-bottom: 24px;
}

.group-input {
  float: left;
  width: 215px;
  margin-right: 10px;
}
.template-dialog-section-title {
  margin: 10px 0;
  font-weight: bold;
}
.template-dialog-footer{
  text-align: right;
  margin-bottom: 60px;
}

.template-download-link{
  color: #38B1EB;
  cursor: default;
}

.template-transcode-watermark{
  margin-top: 20px;
  padding-top: 10px;
  height: 160px;
}

