@import "../../../variables.css";
.fj-button {
  padding: 10px;
  background: var(--button-default-background-color);
  color: var(--button-default-color);
  border: var(--button-default-border);
  border-radius: var(--button-border-radius);
  font-size: 12px;
  text-align: center;
  outline: none;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
}
.fj-button-default-size {
  min-width: 88px;
}

.fj-button:hover {
  background: var(--button-hover-default-background-color);
  color: var(--button-hover-default-color);
  border: var(--button-hover-default-border);
}

.fj-button:active {
  background: var(--button-active-default-background-color);
  color: var(--button-active-default-color);
  border: var(--button-active-default-border);
}

.fj-button-mini {
  padding: 5px 8px;
  font-size: 12px;
  min-width: 56px;
}

.fj-button-small {
  padding: 7px 14px;
}

.fj-button-primary {
  background: var(--button-primary-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-primary-background-color);
}

.fj-button-primary:hover {
  background: var(--button-hover-primary-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-hover-primary-background-color);
}

.fj-button-primary:active {
  background: var(--button-active-primary-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-active-primary-background-color);
}


.fj-button-success {
  background: var(--button-success-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-success-background-color);
}

.fj-button-success:hover {
  background: var(--button-hover-success-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-hover-success-background-color);
}

.fj-button-success:active {
  background: var(--button-active-success-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-active-success-background-color);
}


.fj-button-danger {
  background: var(--button-danger-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-danger-background-color);
}

.fj-button-danger:hover {
  background: var(--button-hover-danger-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-hover-danger-background-color);
}

.fj-button-danger:active {
  background: var(--button-active-danger-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-active-danger-background-color);
}


.fj-button-info {
  background: var(--button-info-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-info-background-color);
}

.fj-button-info:hover {
  background: var(--button-hover-info-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-hover-info-background-color);
}

.fj-button-info:active {
  background: var(--button-active-info-background-color);
  color: var(--button-color);
  border: 1px solid var(--button-active-info-background-color);
}


.fj-button-text {
  padding: 0;
  background: var(--button-text-background-color);
  color: var(--button-text-color);
  border: var(--button-border);
}

.fj-button-text:hover {
  background: var(--button-hover-text-background-color);
  color: var(--button-hover-text-color);
  border: var(--button-border);
}

.fj-button-text:active {
  background: var(--button-active-text-background-color);
  color: var(--button-active-text-color);
  border: var(--button-border);
}

.fj-button-disabled,
.fj-button-disabled:hover,
.fj-button-disabled:active {
  background: var(--button-hover-disabled-background-color);
  color: rgba(255, 255, 255);
  border-color: var(--disabled-border-color);
  cursor: not-allowed;
}

.fj-button-loading {
  position: relative;
  pointer-events: none;
}
.fj-button-loading:before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, .25);
}
.fj-icon-loading {
  font-size: inherit;
  display: inline-block;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
