.about-item {
  padding: 30px 0 50px;
  font-size: 12px;
  color: #2A3E52;
  border-bottom: 1px solid #EBF3FB;
  line-height: 150%;
}

.about-item .title {
  padding-bottom: 38px;
}

.about-item .content,
.about-system-item{
  padding-left: 50px;
}

.about-item .content {
  padding-bottom: 8px;
  line-height: 18px;
}

.about-item about-system-item {
  padding-bottom: 20px;
}

.about-item .subtitle {
  font-size: 14px;
  color: #4C637B;
  font-weight: 400;
  padding-bottom: 26px;
}

.about-item .about-system-item-title {
  padding-bottom: 8px;
  height: 30px;
  color: #4C637B;
}

.about-item .version{
  font-size: 14px;
  font-weight: bold;
}

.about-item .detail {
  padding: 20px;
  background: #F8FAFB;
  border-radius: 4px;
}

.about-item .detail h2{
  font-size: 14px;
  padding: 20px 0;
  font-weight: bold;
}

.about-system-update-bar{
  float: right;
}

.about-upload-input {
  position: absolute;
  left: -9999px;
}

.help-file-read-content{
  position: relative;
  height: 400px;
  background: #292929;
  color: #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}
.help-file-read .layout-panel-slide-vertical-bar {
  border-left-color: #ddd;
}



